
html, body {
	font: 400 15px/1.8 Lato, sans-serif;
	color: #777;
	
	 overflow-x: hidden; 
}

h3, h4 {
	margin: 10px 0 30px 0;
	letter-spacing: 10px;
	font-size: 20px;
	color: #111;
}

.container {
	padding: 80px 120px;
}

.person {
	border: 10px solid transparent;
	margin-bottom: 25px;
	width: 80%;
	height: 80%;
	opacity: 0.7;
}

.person:hover {
	border-color: #f1f1f1;
}

.carousel-inner img {
	/* -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
	width: 100%; /* Set width to 100% */
	margin: auto;
}

.carousel-caption h3 {
	color: #fff !important;
}

@media ( max-width : 600px) {
	.carousel-caption {
		display: none;
		/* Hide the carousel text when the screen is less than 600 pixels wide */
	}
}

.bg-1 {
	background: #2874A6; /* blue */
	color: #bdbdbd;
}

.bg-1 h3 {
	color: #fff;
}

.bg-1 p {
	font-style: italic;
}

.bg-2 {
	background: #ec1c24; /* red */
	color: #bdbdbd;
}

.bg-2 h3 {
	color: #fff;
}

.list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}

.thumbnail p {
	margin-top: 15px;
	color: #555;
}

.btn {
	padding: 10px 20px;
	background-color: #333;
	color: #f1f1f1;
	border-radius: 0;
	transition: .2s;
}

.btn:hover, .btn:focus {
	border: 1px solid #333;
	background-color: #fff;
	color: #000;
}

.modal-header, h4, .close {
	background-color: #333;
	color: #fff !important;
	text-align: center;
	font-size: 30px;
}

.modal-header, .modal-body {
	padding: 40px 50px;
}

.nav-tabs li a {
	color: #777;
}

.navbar {
	font-family: Montserrat, sans-serif;
	margin-bottom: 0;
	background-color: #2874A6; /* blue */
	border: 0;
	font-size: 11px !important;
	letter-spacing: 4px;
	opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}

.navbar-nav li a:hover {
	color: #d5d5d5 !important;
}

.navbar-nav li.active a {
	color: #d5d5d5 !important;
	background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.open .dropdown-toggle {
	color: #fff;
	background-color: #555 !important;
}

.dropdown-menu li a {
	color: #000 !important;
}

.dropdown-menu li a:hover {
	background-color: red !important;
}

footer {
	background-color: #2874A6;
	color: #f5f5f5;
	padding: 32px;
}

footer a {
	color: #f5f5f5;
}

footer a:hover {
	color: #777;
	text-decoration: none;
}

.form-control {
	border-radius: 0;
}

textarea {
	resize: none;
}
/* Category */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #f1f1f1;
}

.card p {
	color: black;
}
/* Responsive columns */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}
/* Float four columns side by side */
.column {
	float: left;
	width: 25%;
	padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
	margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.vc {
	background: #ec1c24;
	color: #fff;
	width: 58px;
	text-align: center;
	padding: 6.5px 18px;
	position: relative;
}

.vc:after {
	width: 0;
	height: 0;
	border: 12.5px solid transparent;
	position: absolute;
	content: "";
	border-top-color: #ec1c24;
	right: -23px;
	top: 0px;
	border-left-color: #ec1c24;
}

.vc:before {
	width: 0;
	height: 0;
	border: 13px solid transparent;
	position: absolute;
	content: "";
	border-bottom-color: #39b6ba;
	right: -23px;
	top: -1px;
}

#button1, #button2 {
	display: inline-block;
	width: 100px;
	height: 40px;
	padding: 5px 5px;
	background-color: #333;
	color: #f1f1f1;
	border-radius: 0;
	transition: .2s;
}

#button1:hover, #button1:focus, #button2:hover, #button2:focus {
	border: 1px solid #333;
	background-color: #fff;
	color: #000;
}

/* category caraousel */
#demoss {
    /* width: 94%; */
    /* margin: 0 auto; */
    height: 100%;
    text-align: center;
    background: #f1f1f1;
    position: relative;
}
.owl-carousel {
    display: none;
    /* width: 100%; */
    z-index: 1;
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.owl-carousel .owl-item {
    float: left;
}
@media screen and (max-width: 898px) and (min-width: 121px){
#demoss .owl-prev {
    background: url(//martjackstorage.blob.core.windows.net/in-resources/075ba640-9325-4e0e-8157-cdf49e2a8909/Stylesheet/images/home_sprite_mobile-left-arrow1.png) no-repeat;
    width: 44px;
    height: 45px;
}
}
#demoss .owl-prev {
    background: url(//storage.sg.content-cdn.io/in-resources/075ba640-9325-4e0e-8157-cdf49e2a8909/Stylesheet/images/home_sprite_mobile.png) no-repeat -80px -284px;
    width: 65px;
    height: 65px;
    float: none;
    position: absolute;
    left: -10px;
    top: 25%;
    font-size: 0;
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media screen and (max-width: 898px) and (min-width: 121px){
.owl-carousel .owl-nav .owl-prev {
    background: url(//martjackstorage.blob.core.windows.net/in-resources/075ba640-9325-4e0e-8157-cdf49e2a8909/Stylesheet/images/home_sprite_mobile.png) no-repeat -80px -284px;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 32%;
    left: -12px;
}
}
.owl-prev {
    background: url(//assets.sg.content-cdn.io/css/themes/mjt02012664/images/main/sprite-valign.png) no-repeat 0 0;
    width: 41px;
    height: 29px;
    float: left;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
}
@media screen and (max-width: 898px) and (min-width: 121px){
#demoss .owl-next {
    background: url(//martjackstorage.blob.core.windows.net/in-resources/075ba640-9325-4e0e-8157-cdf49e2a8909/Stylesheet/images/home_sprite_mobile-right-arrow1.png) no-repeat;
    width: 44px;
    height: 45px;
}
}
#demoss .owl-next {
    background: url(//storage.sg.content-cdn.io/in-resources/075ba640-9325-4e0e-8157-cdf49e2a8909/Stylesheet/images/home_sprite_mobile.png) no-repeat -11px -282px;
    width: 65px;
    height: 65px;
    float: none;
    position: absolute;
    top: 25%;
    left: 1480px;
    font-size: 0;
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media screen and (max-width: 898px) and (min-width: 121px){
.owl-carousel .owl-nav .owl-next {
    background: url(//martjackstorage.blob.core.windows.net/in-resources/075ba640-9325-4e0e-8157-cdf49e2a8909/Stylesheet/images/home_sprite_mobile.png) no-repeat -11px -282px;
    width: 65px;
    height: 65px;
    left: 1200px;
    position: absolute;
    top: 32%;
}
}
.owl-next {
    background: url(//assets.sg.content-cdn.io/css/themes/mjt02012664/images/main/sprite-valign.png)no-repeat 0 -39px;
    width: 41px;
    height: 29px;
    float: left;
}
/* footer */
._2NHqR1 {
	margin-left: 65px;
	width: 90% !important;
	padding-top: 40px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

._3qd5C5 {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

._3qd5C5:last-child {
    margin-right: 0;
}

.m6ABEi {
	margin-bottom: 10px;
	padding-left: 14px;
}

._38DIp6, .m6ABEi {
	font-size: 12px;
	white-space: nowrap;
}

._1DXv5h {
	border-top: 1px solid #454d5e;
	padding: 25px 0;
	margin-top: 40px;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.HJlsB9 {
	background-color: #172337;
	min-width: 978px;
	border-top: 1px solid #ddd;
	margin-top: 25px;
}

.TW4owM {
	width: 100%;
	margin: 0 auto;
	text-align: left;
}

.col, .row {
	width: 100%;
}

.row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

._18wTSA {
	color: #878787;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 9px;
}

._287FRX {
	line-height: 2;
	font-size: 13px;
	font-weight: 500;
	color: #fff;
	display: block;
	font-weight: 400;
	font-size: 12px;
}

._287FRX:last-child {
    border-bottom: 0;
    border-bottom-width: 0px;
    border-bottom-style: initial;
    border-bottom-color: initial;
}

.m6ABEi {
	margin-bottom: 10px;
	padding-left: 14px;
}

._38DIp6, .m6ABEi {
	font-size: 12px;
	white-space: nowrap;
}

._2V3TtE {
	font-style: normal;
	color: #fff;
	background-color: #172337;
}

._3Lv0nZ {
	background-color: #fff;
	font-size: 12px;
}

._3Lv0nZ div, ._3Lv0nZ h1, ._3Lv0nZ h2, ._3Lv0nZ h3, ._3Lv0nZ h4,
	._3Lv0nZ h5, ._3Lv0nZ h6, ._3Lv0nZ p {
	margin-bottom: 10px;
	padding: 0;
	line-height: 1.5;
}

._3Lv0nZ ._3aS5mM {
	margin: 0;
	padding: 0;
	line-height: normal;
}

._1DXv5h ._1Dwg_s {
	color: #fff;
	margin-left: 8px;
}

._2tFDQF {
	color: #fff;
}